.background-color-default-a {
    background-color: #FFFFFF;
  }

  .background-color-color-a {
    background-color: #FAF5EB;
  }

  .background-color-default-b {
    background-color: #F6F6F6;
  }

  .background-color-color-b {
    background-color: #E6F1FA;
  }

  .textbox-background-default-a {
    background-color: #FFFFFF;
  }

  .textbox-background-color-a {
    background-color: #FAF5EB;
  }

  .textbox-text-default-a {
    color: #282828;
  }

  .textbox-text-color-a {
    color: #FFFFFF;;
  }

  .textbox-background-default-b {
    background-color: #FFFFFF;
  }

  .textbox-background-color-b {
    background-color: #F6F6F6;
  }

  .textbox-background-color-b-two {
    background-color: #E6F1FA;
  }

  .textbox-background-color-b-three {
    background-color: #0057B7;
  }

  .textbox-text-default-b {
    color: #282828;
  }

  .textbox-text-color-b {
    color: #FFFFFF;
  }

  .textbox-text-color-b-two {
    color: #000000;
  }